<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2020</h1>
<h1 style="font-size: 250%;">Problem Set #5</h1>
<h1 style="font-size: 200%;">Version 1.1</h1>
<h1>Issued Thursday 11/03/2020; Due Tuesday 11/17/2020</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be accepted, but your lowest problem-set grade will be dropped. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Do not make any edits in this cell!
class Student:
    first = "Nelson"
    last = "Lopez"
    onyen = "nelson19"
    pid = "730157511"

In this problem set you will build and experiment with a NoSQL document database using MongoDB. To start you will need to go to the following website: https://docs.mongodb.com/manual/administration/install-community/
and follow installation instructions for MongoDB *Community Edition* on your OS.

Next you will need to download [covid19.json](http://csbio.unc.edu/mcmillan/Comp521F20/covid19.json) to use as your example database.

In order to load this json document as a database use the following command:

       $ mongoimport --jsonArray --db=covid19 --collection=counties --file covid19.json

Finally, you should be able to start the mongo command shell by typing **mongo** into a command line shell window. The result should resemble the following:

        $ mongo
        MongoDB shell version: 4.4.1
        connecting to: mongodb://127.0.0.1:27017/?compressors=disabled&gssapiServiceName=mongodb
        Implicit session: session { "id" : UUID("25ebaf18-9a3c-4687-a3fb-9b3929887754") }
        MongoDB server version: 4.4.1
        >

As a test, try the following MongoDB commands:

        > use covid19
        switched to db covid19
        > db.counties.count()
        3194

The schema for this database is a list of documents with the following keys:

    {
        '_id': 5079,
        'name': 'Lincoln County', 
        'state': 'AR',
         'population': 13024,
        'cases': [{'date': '2020-03-16', 'count': 1}, {'date': '2020-03-22', 'count': 1}, 
                  {'date': '2020-03-24', 'count': 1}, {'date': '2020-03-26', 'count': 2}], 
        'deaths': [{'date': '2020-03-27', 'count': 1}, {'date': '2020-04-02', 'count': 1}, 
                   {'date': '2020-05-28', 'count': 2}, {'date': '2020-05-30', 'count': 1}] 
    }
    
Where *_id* is the *fips* number that we saw in NCCOVID19.db.

---
**Problem #1**. Write a MongoDB query to find all states with a county named "Orange County". For each output both the state and the population of the county in that state. Copy *both* your query, and the output from your MongoDB query into the answer cell provided below.

db.counties.find({name:"Orange County"},{state:1,population:1, _id: 0})
{ state: 'CA', population: 3175692 }
{ state: 'FL', population: 1393452 }
{ state: 'IN', population: 19646 }
{ state: 'NY', population: 384940 }
{ state: 'NC', population: 148476 }
{ state: 'TX', population: 83396 }
{ state: 'VT', population: 28892 }
{ state: 'VA', population: 37051 }

---
**Problem #2**. Write a MongoDB *mapReduce* function to generate a collection of the total number of covid19 case counts for each states. Generate one record for each state with its 2-letter abbreviation and its total covid cases. Copy *both* your mapReduce function, and the output from your MongoDB query into the answer cell provided below.

db.counties.mapReduce(function(){ if(this.cases) for(let i = 0; i < this.cases.length; i++) emit(this.state, this.cases[i].count) },   function(key,values) {return Array.sum(values)},   {out: {inline: 1} } )
{
	"results" : [
		{
			"_id" : "IA",
			"value" : 120061
		},
		{
			"_id" : "OH",
			"value" : 205367
		},
		{
			"_id" : "IL",
			"value" : 390656
		},
		{
			"_id" : "CO",
			"value" : 101064
		},
		{
			"_id" : "CT",
			"value" : 70628
		},
		{
			"_id" : "ID",
			"value" : 60985
		},
		{
			"_id" : "AZ",
			"value" : 241196
		},
		{
			"_id" : "FL",
			"value" : 791380
		},
		{
			"_id" : "KY",
			"value" : 101858
		},
		{
			"_id" : "NJ",
			"value" : 242897
		},
		{
			"_id" : "OK",
			"value" : 119629
		},
		{
			"_id" : "PA",
			"value" : 200723
		},
		{
			"_id" : "TN",
			"value" : 261072
		},
		{
			"_id" : "TX",
			"value" : 894666
		},
		{
			"_id" : "AK",
			"value" : 14208
		},
		{
			"_id" : "MD",
			"value" : 142567
		},
		{
			"_id" : "VT",
			"value" : 2236
		},
		{
			"_id" : "WY",
			"value" : 11150
		},
		{
			"_id" : "SD",
			"value" : 42014
		},
		{
			"_id" : "WI",
			"value" : 221570
		},
		{
			"_id" : "NV",
			"value" : 98078
		},
		{
			"_id" : "NE",
			"value" : 66122
		},
		{
			"_id" : "LA",
			"value" : 182143
		},
		{
			"_id" : "AL",
			"value" : 188785
		},
		{
			"_id" : "DE",
			"value" : 25007
		},
		{
			"_id" : "NY",
			"value" : 501169
		},
		{
			"_id" : "NC",
			"value" : 266383
		},
		{
			"_id" : "UT",
			"value" : 110588
		},
		{
			"_id" : "WA",
			"value" : 107826
		},
		{
			"_id" : "SC",
			"value" : 173534
		},
		{
			"_id" : "WV",
			"value" : 23100
		},
		{
			"_id" : "AR",
			"value" : 111770
		},
		{
			"_id" : "GA",
			"value" : 368588
		},
		{
			"_id" : "CA",
			"value" : 920723
		},
		{
			"_id" : "ME",
			"value" : 6557
		},
		{
			"_id" : "VA",
			"value" : 176818
		},
		{
			"_id" : "NH",
			"value" : 11026
		},
		{
			"_id" : "RI",
			"value" : 36930
		},
		{
			"_id" : "OR",
			"value" : 43241
		},
		{
			"_id" : "DC",
			"value" : 16973
		},
		{
			"_id" : "MO",
			"value" : 175937
		},
		{
			"_id" : "MN",
			"value" : 143094
		},
		{
			"_id" : "MT",
			"value" : 29995
		},
		{
			"_id" : "MS",
			"value" : 118786
		},
		{
			"_id" : "MA",
			"value" : 166302
		},
		{
			"_id" : "HI",
			"value" : 14936
		},
		{
			"_id" : "IN",
			"value" : 172546
		},
		{
			"_id" : "MI",
			"value" : 187058
		},
		{
			"_id" : "KS",
			"value" : 83485
		},
		{
			"_id" : "NM",
			"value" : 44555
		},
		{
			"_id" : "ND",
			"value" : 39911
		}
	],
	"ok" : 1
}

---
**Problem #3**. Write a MongoDB *aggregate* function to generate a population total for each state. Copy *both* your *aggregate* function, and its output into the answer cell provided below.

db.counties.aggregate([{$match: {}}, {$group: {_id: '$state', totalPop: {$sum: '$population'}}}])

{ "_id" : "AK", "totalPop" : 731545 }
{ "_id" : "MD", "totalPop" : 6045680 }
{ "_id" : "NH", "totalPop" : 1359711 }
{ "_id" : "NM", "totalPop" : 2096829 }
{ "_id" : "OR", "totalPop" : 4217737 }
{ "_id" : "RI", "totalPop" : 1059361 }
{ "_id" : "NJ", "totalPop" : 8882190 }
{ "_id" : "VT", "totalPop" : 623989 }
{ "_id" : "WY", "totalPop" : 578759 }
{ "_id" : "FL", "totalPop" : 21477737 }
{ "_id" : "AZ", "totalPop" : 7278717 }
{ "_id" : "ID", "totalPop" : 1787065 }
{ "_id" : "IL", "totalPop" : 12671821 }
{ "_id" : "CO", "totalPop" : 5758736 }
{ "_id" : "CT", "totalPop" : 3565287 }
{ "_id" : "KY", "totalPop" : 4467673 }
{ "_id" : "TN", "totalPop" : 6829174 }
{ "_id" : "TX", "totalPop" : 28995881 }
{ "_id" : "NY", "totalPop" : 19453561 }
{ "_id" : "NC", "totalPop" : 10488084 }
{ "_id" : "LA", "totalPop" : 4648794 }
{ "_id" : "AL", "totalPop" : 4903185 }
{ "_id" : "DE", "totalPop" : 973764 }
{ "_id" : "NE", "totalPop" : 1934408 }
{ "_id" : "NV", "totalPop" : 3080156 }
{ "_id" : "UT", "totalPop" : 3205958 }
{ "_id" : "WA", "totalPop" : 7614893 }
{ "_id" : "WV", "totalPop" : 1792147 }
{ "_id" : "WI", "totalPop" : 5822434 }
{ "_id" : "SD", "totalPop" : 884659 }
{ "_id" : "VA", "totalPop" : 8535519 }
{ "_id" : "ME", "totalPop" : 1344212 }
{ "_id" : "GA", "totalPop" : 10617423 }
{ "_id" : "CA", "totalPop" : 39512223 }
{ "_id" : "AR", "totalPop" : 3017804 }
{ "_id" : "SC", "totalPop" : 5148714 }
{ "_id" : "OH", "totalPop" : 11689100 }
{ "_id" : "IA", "totalPop" : 3155070 }
{ "_id" : "KS", "totalPop" : 2913314 }
{ "_id" : "OK", "totalPop" : 3956971 }
{ "_id" : "PA", "totalPop" : 12801989 }
{ "_id" : "MI", "totalPop" : 9986857 }
{ "_id" : "MA", "totalPop" : 6892503 }
{ "_id" : "ND", "totalPop" : 762062 }
{ "_id" : "HI", "totalPop" : 1415872 }
{ "_id" : "MS", "totalPop" : 2976149 }
{ "_id" : "MT", "totalPop" : 1068778 }
{ "_id" : "IN", "totalPop" : 6732219 }
{ "_id" : "MN", "totalPop" : 5639632 }
{ "_id" : "DC", "totalPop" : 705749 }
{ "_id" : "MO", "totalPop" : 6137428 }

---
**Problem #4.** Write a MongoDB query to find all days where a county reported more than 3500 covid cases in a single day. Each output record should include the name of a county, state, a date, and the number of cases on that date. Copy both your query, and its output into the answer cell provided below.

db.counties.aggregate([
{$match: {}}, 
{$unwind: '$cases'},
{$group: {_id: {county:'$name' , state: '$state', date: '$cases.date'}, cases: {$first:'$cases.count'}}},
{$match: {cases: {$gt: 3500}}}
])
  
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-07-07" }, "cases" : 3969 }
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-07-29" }, "cases" : 4741 }
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-07-06" }, "cases" : 8903 }
{ "_id" : { "county" : "Dallas County", "state" : "TX", "date" : "2020-08-17" }, "cases" : 5361 }
{ "_id" : { "county" : "Harris County", "state" : "TX", "date" : "2020-09-22" }, "cases" : 14129 }
{ "_id" : { "county" : "Miami-Dade County", "state" : "FL", "date" : "2020-08-12" }, "cases" : 4141 }
{ "_id" : { "county" : "Harris County", "state" : "TX", "date" : "2020-08-03" }, "cases" : 3678 }
{ "_id" : { "county" : "Bexar County", "state" : "TX", "date" : "2020-07-16" }, "cases" : 9589 }
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-07-16" }, "cases" : 4459 }
{ "_id" : { "county" : "Maricopa County", "state" : "AZ", "date" : "2020-07-01" }, "cases" : 3674 }
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-10-22" }, "cases" : 3579 }
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-07-25" }, "cases" : 3568 }
{ "_id" : { "county" : "Los Angeles County", "state" : "CA", "date" : "2020-07-14" }, "cases" : 4178 }
{ "_id" : { "county" : "Miami-Dade County", "state" : "FL", "date" : "2020-07-12" }, "cases" : 3576 }

---
**Problem #5.** Write a MongoDB query to find the total number of Covid-19 deaths for every county and every state. Your output should include the county's name, its state, the total number of deaths in the database, and the population of each county. Copy *only* the query into the answer cell provided below.

db.counties.aggregate([
{$match: {}}, 
{$unwind: '$deaths'},  
{$group: {_id: {county:'$name' , state: '$state', population: '$population'}, deaths: {$sum:'$deaths.count'}}},
])

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.